<!DOCTYPE html>
<html>
<head>
  <title>Photo Map (Mack Duan)</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <link rel="stylesheet" href="/static/css/normalize.css" />
  <link rel="stylesheet" href="/static/ext/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Alegreya+SC:700' />

  <script src="/static/ext/jquery/jquery-2.0.3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
  <script src="/static/ext/db.js/db.js"></script>

  <link rel="stylesheet" href="/static/ext/load-awesome/load-awesome.min.css" />

  <link rel="stylesheet" href="https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css" />
  <script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
  <!--<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />-->
  <!--<script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>-->

  <link rel="stylesheet" href="https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.mapbox.css">
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.min.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"></script>

  <link rel="stylesheet" href="http://cdn.webix.com/2.5/webix.css" type="text/css">
  <script src="http://cdn.webix.com/2.5/webix.js" type="text/javascript"></script>

  <!-- Include Required Prerequisites -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css">-->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css">

  <!-- Include Date Range Picker -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

  <link rel="stylesheet" href="/static/css/base.css" />
  <link rel="stylesheet" href="/static/css/photos.css" />
  <script src="/static/js/leaflet.photo.js"></script>
  <script src="/static/js/photos.js"></script>
</head>
<body>
  <div class="contentContainer">
    <div class="content">
      <h1 class="title">My Photo Map</h1>
      <div id="mapOptions">
        <div class="mapOptionsRow">
          <div id="mapOptionsButtons" class="form-inline">
            <button id="chooseAlbumsButton" class="btn btn-default" type="button" title="Choose albums to show on the map">
              <i class="fa fa-picture-o"></i> Choose albums
            </button>
            <button id="reloadButton" class="btn btn-default" type="button" title="Fetch and save all photos from Picasa">
              <i class="fa fa-refresh"></i> Refetch photos
            </button>
          </div>
          <div id="dateRangeContainer" class="form-inline">
            <div id="dateRange" class="form-group">
              <label for="dateRangePicker">Showing photos from</label>
              <div class="input-group">
                <input id="dateRangePicker" class="form-control">
                <i class="fa fa-calendar"></i>
                <span class="input-group-btn">
                  <button id="lockDateRangeButton" class="btn btn-default" type="button" title="Limit searches to selected time range">
                    <i class="fa fa-unlock-alt"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="mapOptionsRow">
          <div id="albumsListContainer">
            <div id="albumsList"></div>
            <div id="albumsSelectedBarContainer"></div>
          </div>
        </div>
      </div>
      <div id="map">
        <div id="overlay"></div>
        <div id="loaderContainer"></div>
      </div>
    </div>
  </div>
  <script id="albumTemplate" type="text/template">
    <div class="album">
      <div class="albumThumbnail" style="background: url(<%= data.imageUrl %>); background-size: cover; background-position: center; background-repeat: no-repeat;">
        <div class="albumInfo">
          <div class="albumTitle"><%= data.title %></div>
          <div class="albumDetails">
            <% if (data.minDate && data.maxDate) { %>
              <span class="albumDateRange"><%- data.minDate %>&ndash;<%- data.maxDate %></span>
              &middot;
            <% } %>
            <span class="albumNumPhotos"><%- data.numPhotos %> items</span>
          </div>
        </div>
        <div class="albumDetailsBar"">
          <i class="fa fa-check-circle"></i>
          <a class="albumWebUrl" href="<%= data.webUrl %>" target="_blank">View album<sup><i class="fa fa-external-link"></i></sup></a>
        </div>
      </div>
    </div>
  </script>
  <script id="photoPopupTemplate" type="text/template">
    <div class="popupMediaContainer">
      <% if (data.isVideoSupported && data.videoUrl) { %>
        <video class="popupMedia" autoplay controls poster="<%= data.imageUrl %>"><source src="<%= data.videoUrl %>" type="video/mp4"/></video>
      <% } else { %>
        <img class="popupMedia" src="<%= data.imageUrl %>">
      <% } %>
    </div>
    <div class="mediaDetails">
      <span class="mediaDatetime">From <a class="mediaDate" href="#" data-timestamp="<%- data.timestamp %>"><%- data.dateStr %></a> at <%- data.timeStr %></span>
      <a class="mediaWebUrl" href="<%= data.webUrl%>" target="_blank">View original<sup><i class="fa fa-external-link"></i></sup></a>
    </div>
  </script>
  <script id="albumsSelectedBarTemplate" type="text/template">
    <div class="albumsSelectedBar">
      <span class="numSelectedText"><span class="numSelected"><%- data.numSelected %></span> selected</span>
      <span class="clearSelectionButton">Clear</span>
    </div>
  </script>
</body>
</html>
