.btn:focus,
.btn:hover {
  outline: none !important;
}

.title {
  text-align: center;
  font: 60px "Alegreya SC", Georgia, "Times New Roman", Times, serif;
  color: hsl(0, 0%, 31%);
  margin: 20px 0 20px 0;
  text-rendering: optimizeLegibility;
}
