.intro {
  font-size: 22px;
  line-height: 38px;
}

.links {
  list-style-type: none;
  padding: 0;
  display: table;
  table-layout: fixed;
  margin: 50px auto 20px auto;
  text-align: center;
}

.links li {
  display: table-cell;
  width: 2%;
}

.intro {
  padding-bottom: 30px;
}

.divider {
  display: block;
  border: 0;
  height: 1px;
  background: #CCC;
  background: -moz-gradient(radial, 50% 50%, 50, 50% 50%, 500, from(#CCC), to(#FFF));
  background: -webkit-gradient(radial, 50% 50%, 50, 50% 50%, 500, from(#CCC), to(#FFF));
  background: gradient(radial, 50% 50%, 50, 50% 50%, 500, from(#CCC), to(#FFF));
}
