body .wrapper {
  font: 13px/22px Georgia, "Times New Roman", serif;
}

.intro {
  font-size: 22px;
  line-height: 38px;
}

.links {
  display: flex;
  justify-container: space-around;
  font-size: 22px;
  padding: 0;
  margin: 50px auto 20px auto;
}

.links > .link {
  flex: 1 1 auto;
  text-align: center;
}

.intro {
  padding-bottom: 30px;
}

.divider {
  display: block;
  border: 0;
  height: 1px;
  background: #ccc;
  background: -moz-gradient(radial, 50% 50%, 50, 50% 50%, 500, from(#ccc), to(#fff));
  background: -webkit-gradient(radial, 50% 50%, 50, 50% 50%, 500, from(#ccc), to(#fff));
  background: gradient(radial, 50% 50%, 50, 50% 50%, 500, from(#ccc), to(#fff));
}
