.contentContainer {
  color: #6e6e6e;
  display: flex;
  padding: 25px 75px;
  margin: 0 auto;
  min-width: 1110px;
  justify-content: center;
}

#mapOptions label {
  font-family: 'PT Sans', Tahoma;
  font-weight: normal;
}

#mapOptions {
  margin-bottom: 10px;
}

#mapOptions .mapOptionsRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}

#dateRange .input-group {
  position: relative;
}

#dateRange #dateRangePicker {
  display: inline-block;
  width: 202px;
  padding-left: 30px;
}

#dateRange .fa-calendar {
  position: absolute;
  cursor: pointer;
  bottom: 10px;
  left: 10px;
  z-index: 3;
}

#map {
  width: 960px;
  height: 600px;
  margin-bottom: 50px;
  border: 1px solid #ddd;
}

#map.disabled {
  cursor: auto;
}

#map a {
  text-decoration: none;
}

#map .leaflet-control-mapbox-geocoder-wrap,
#map .leaflet-control-mapbox-geocoder-results {
  width: 360px;
}

#map .leaflet-control-lock a {
  padding: 3px 0 0 8px;
}
#map .leaflet-control-lock a {
  font-size: 1.2em;
  color: #444;
}

#lockDateRangeButton .fa-lock,
#map .leaflet-control-locate.active a,
#map .leaflet-control-lock .fa-lock {
  color: #08c;
}

#map .leafletMarkerPhoto {
  border: 2px solid #fff;
  box-shadow: 3px 3px 10px #888;
}

#map .leafletMarkerPhoto .markerThumbnail {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#map .leafletMarkerPhoto .markerCount {
  display: block;
  position: absolute;
  right: -12px;
  top: -11px;
  padding: 4px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  color: #555;
  min-width: 20px;
  line-height: 10px;
  text-align: center;
  font-weight: bold;
}

#map .leaflet-popup-photo .leaflet-popup-content {
  padding-top: 18px;
  padding-bottom: 10px;
}

#map .leaflet-popup-photo .leaflet-popup-close-button:hover {
  background-color: transparent;
}

#map .leaflet-popup-photo .popupMediaContainer {
  max-height: 450px;
  overflow-y: scroll;
}

#map .leaflet-popup-photo .popupMedia {
  max-width: 512px;
}

#map .leaflet-popup-photo .mediaDetails {
  display: flex;
  justify-content: space-between;
  padding-left: 2px;
  padding-right: 2px;
  margin-top: 10px;
  font-size: 13px;
}

#map .leaflet-popup-photo .mediaWebUrl sup {
  padding-left: 4px;
  position: relative;
  top: -3px;
}

#map #overlay {
  z-index: 1;
  background: rgba(255, 255, 255, 0.66);
  display: none;
  position: absolute;
  bottom: 0;
  left:  0;
  right: 0;
  top: 0;
}

#map #loaderContainer {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#map #loaderContainer .loaderBox {
  z-index: 1;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  border: 1px solid #6cf;
  padding: 20px;
}

.loaderBox .message {
  z-index: 1;
  color: #6cf;
  font-size: 20px;
  font-weight: 400;
  padding-right: 10px;
}

.loaderBox .loader {
  z-index: 1;
  color: #6cf;
}

#albumsListContainer {
  display: none;
}

#albumsSelectedBarContainer {
  position: relative;
}

.albumsSelectedBar {
  position: absolute;
  right: 11px;
  bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #08c;
  padding: 8px 12px;
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.5);
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  z-index: 1;
}

.albumsSelectedBar .numSelectedText {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  padding-right: 12px;
}

.albumsSelectedBar .clearSelectionButton {
  position: relative;
  font-weight: 500;
  margin-left: 12px;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.albumsSelectedBar .clearSelectionButton:hover {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

#albumsList {
  border: 1px solid #ddd;
  padding-top: 3px;
  padding-bottom: 3px;
}

#albumsList .webix_dataview {
  padding-left: 3px;
  padding-right: 3px;
}

#albumsList .webix_dataview_item {
  border: 0;
  padding: 1px;
}

#albumsList .albumThumbnail {
  position: relative;
  width: 236px;
  height: 158px;
}

#albumsList .webix_dataview_item.webix_selected {
  background: #ddd;
  padding: 7px;
  border: 1px solid #fff;
}

#albumsList .webix_dataview_item.webix_selected .albumThumbnail {
  width: 222px;
  height: 144px;
}

#albumsList .albumInfo {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  text-shadow: 1px 1px 5px #000;
}

#albumsList .albumInfo .albumTitle {
  font-size: 17px;
  font-weight: bold;
}

#albumsList .albumInfo .albumDetails {
  line-height: 12px;
}

#albumsList .albumInfo .albumDateRange,
#albumsList .albumInfo .albumNumPhotos {
  font-size: 12px;
}

#albumsList .albumDetailsBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

#albumsList .album:hover .albumDetailsBar,
#albumsList .webix_dataview_item.webix_selected .albumDetailsBar {
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.0) 100%); /* IE10+ */
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.0) 100%); /* Mozilla Firefox */
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.0) 100%); /* Opera */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.6)), color-stop(100, rgba(0, 0, 0, 0.0))); /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.0) 100%); /* Webkit (Chrome 11+) */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.0) 100%); /* W3C Markup */
}

#albumsList .albumDetailsBar .fa-check-circle {
  display: none;
  font-size: 24px;
  position: relative;
  top: -1px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

#albumsList .album:hover .albumDetailsBar .fa-check-circle {
  display: inline;
  color: #eee;
}

#albumsList .album:hover .albumDetailsBar .fa-check-circle:hover,
#albumsList .album:hover .albumDetailsBar .fa-check-circle:focus {
  color: #fff;
}

#albumsList .webix_dataview_item.webix_selected .albumDetailsBar .fa-check-circle,
#albumsList .webix_dataview_item.webix_selected .album:hover .albumDetailsBar .fa-check-circle,
#albumsList .webix_dataview_item.webix_selected .album:hover .albumDetailsBar .fa-check-circle {
  display: inline;
  color: #9df;
}


#albumsList .albumDetailsBar .albumWebUrl {
  display: none;
  line-height: 1;
  font-size: 12px;
  color: #eee;
  text-shadow: 1px 1px 5px #000;
}

#albumsList .albumDetailsBar .albumWebUrl sup {
  padding-left: 3px;
  position: relative;
  top: -3px;
}

#albumsList .album:hover .albumDetailsBar .albumWebUrl {
  display: inline;
}

#albumsList .album:hover .albumDetailsBar .albumWebUrl:hover,
#albumsList .album:hover .albumDetailsBar .albumWebUrl:focus {
  color: #fff;
  text-decoration: none;
}
