#mapOptions label {
  font-family: 'PT Sans', Tahoma;
  font-weight: normal;
}

#mapOptions {
  margin-bottom: 10px;
}

#mapOptions .mapOptionsRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 100%;
}

#dateRange .input-group {
  position: relative;
}

#dateRange #dateRangePicker {
  display: inline-block;
  width: 202px;
  padding-left: 30px;
}

#dateRange .fa-calendar {
  position: absolute;
  cursor: pointer;
  bottom: 10px;
  left: 10px;
  z-index: 3;
}

#mapOptionsButtons {
  display: flex;
}

#map {
  height: 600px;
  margin-bottom: 50px;
}

#map.disabled {
  cursor: auto;
}

#map .leaflet-control-lock a {
  padding: 3px 0 0 8px;
}
#map .leaflet-control-lock a {
  font-size: 1.2em;
  color: #444;
}
#map .leaflet-control-lock .fa-lock {
  color: #2074B6;
}

#map .leafletMarkerPhoto {
  border: 2px solid #fff;
  box-shadow: 3px 3px 10px #888;
}

#map .leafletMarkerPhoto .markerThumbnail {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#map .leafletMarkerPhoto .markerCount {
  display: block;
  position: absolute;
  right: -12px;
  top: -11px;
  padding: 4px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  color: #555;
  min-width: 20px;
  line-height: 10px;
  text-align: center;
  font-weight: bold;
}

#map .leaflet-popup-photo .leaflet-popup-content {
  padding-top: 18px;
  padding-bottom: 10px;
}

#map .leaflet-popup-photo .leaflet-popup-close-button:hover {
  background-color: transparent;
}

#map .leaflet-popup-photo .popupMedia {
  width: 100%;
}

#map .leaflet-popup-photo .mediaDetails {
  display: flex;
  justify-content: space-between;
  padding-left: 2px;
  padding-right: 2px;
  margin-top: 10px;
  font-size: 13px;
}

#map .leaflet-popup-photo .mediaWebUrl .fa {
  position: relative;
  padding-left: 5px;
}

#map #overlay {
  z-index: 1;
  background: rgba(255, 255, 255, 0.66);
  display: none;
  position: absolute;
  bottom: 0;
  left:  0;
  right: 0;
  top: 0;
}

#map #loaderContainer {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#map #loaderContainer .loaderBox {
  z-index: 1;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  border: 1px solid #6bc6ed;
  padding: 20px;
}

.loaderBox .message {
  z-index: 1;
  color: #6bc6ed;
  font-size: 20px;
  font-weight: 400;
  padding-right: 10px;
}

.loaderBox .loader {
  z-index: 1;
  color: #6bc6ed;
}

#albumsList .webix_dataview {
  -moz-box-shadow: inset 0 0 3px #999;
  -webkit-box-shadow: inset 0 0 3px #999;
  box-shadow: inset 0 0 3px #999;
  background: #fdfdfd;
  padding: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}


#albumsList .webix_dataview_item {
  border: 0;
  padding: 4px;
}

#albumsList .webix_dataview_item.webix_selected {
  border: 0;
  padding: 4px;
}

#albumsList .albumThumbnail {
  width: 278px;
  height: 209px;
  position: relative;
}

#albumsList .albumInfo {
  position: absolute;
  bottom: 15px;
  left: 20px;
  color: #fff;
  text-shadow: 1px 1px 5px #000;
}

#albumsList .albumInfo .albumTitle {
  font-size: 20px;
  font-weight: bold;
}

#albumsList .albumInfo .albumDetails {
  line-height: 12px;
}

#albumsList .albumInfo .albumDateRange,
#albumsList .albumInfo .albumNumPhotos {
  font-size: 12px;
}
