a.iconLink > sup {
  display: none !important;
}

a.printableLink .linkUrl {
  display: inline !important;
}

.pageHeader {
  margin-bottom: 30px !important;
  padding: 30px 0 !important;
}

.skills.section .sectionHeader .resumeOptions {
  display: none !important;
}

.section {
  padding: 10px 20px !important;
  border: 0 !important;
}

.section:not(:last-child):after {
  display: none !important;
}

.sectionTitle {
  margin-bottom: 10px !important;
}

.jobs.section .subsection,
.projects.section .subsection {
  padding: 10px !important;
}

.skillsPlaceholder {
  display: none !important;
}

.skills.section.affixed {
  position: static !important;
  display: block !important;
  background-color: transparent !important;
  box-shadow: none !important;
  z-index: 0 !important;
}
