/**
 * Page-wide rules
 */

a {
  color: #000;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: #2a6496;
  text-decoration: underline;
  outline: 0;
}

#resume {
  font-family: Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  font-size: 14px;
  padding: 25px;
}

/**
 * Rules for the contact section
 */

.pageTitle {
  font: 48px "Alegreya SC", Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  text-align: center;
}

.contactMethods {
  display: flex;
  justify-content: center;
  padding: 0 50px;
}

.contactMethod {
  flex: 1;
  text-align: center;
}

/**
 * General rules for sections
 */

.sectionTitle {
  font: 20px "Alegreya SC", Georgia, "Times New Roman", Times, serif;
  color: #09a5a5;
}

.subsectionTitle {
  font-size: 14px;
  font-weight: bold;
}

/**
 * Skills section
 */

.categorySkills ul {
  list-style: none;
}

.categorySkills .skill {
  display: inline-block;
  border-radius: 5px;
  margin: 4px 2px;
  padding: 5px;
  border: 1px solid #ddd;
}
