h1 {
  font-size: 20px !important;
}

h2 {
  font-size: 18px !important;
}

.section.h2 {
  font-size: 13px !important;
}

h3 {
  font-size: 13px !important;
}

.options {
  display: none !important;
}

.contact {
  padding-top: 0 !important;
}

.contact .contactOptions {
  font-size: 11px !important;
}

.section.h3 {
  font-size: 11px !important;
}

.hresume {
  max-width: none !important;
  margin-bottom: 0 !important;
  border: 0 !important;
}

.hresume > .lhs {
  width: 100% !important;
  height: auto !important;
  max-width: none !important;
  float: none !important;
  position: static !important;
}
.hresume > .lhs .sidebarContainer {
  position: static !important;
}
.hresume > .lhs .skillsText,
.hresume > .lhs .toggleContainer {
  display: none !important;
}
.hresume > .lhs .skillsSection {
  display: block !important;
}

.hresume > .rhs {
  width: 100% !important;
  float: none !important;
  border: 0 !important;
  overflow: visible !important;
}

.skill {
  /* Without setting background-color, chrome prints black boxes for skills */
  background-color: #FFF !important;
}

.work.experience .org {
  margin-left: 0 !important;
  padding-left: 0 !important;
  background-image: none !important;
}

.project.experience > .lhs {
  width: 35% !important;
}

.project.experience > .rhs {
  width: 65% !important;
}

.section.h2 {
  padding-left: 15px !important;
}

.skillsSection .skills {
  padding-left: 20px !important;
}

.sectionContainer {
  border: 0 !important;
  margin-top: 25px !important;
  margin-bottom: 0 !important;
}

.footer {
  display: none;
}
