a.iconLink > sup {
  display: none !important;
}

a.printableLink .linkUrl {
  display: inline !important;
}

.pageHeader {
  margin-bottom: 25px !important;
  padding: 25px 0 !important;
}

.pdfLink {
  display: none !important;
}

#skills.section .sectionHeader .resumeOptions {
  display: none !important;
}

.section {
  padding: 8px 20px !important;
  border: 0 !important;
}

.section:not(:last-child):after {
  display: none !important;
}

.sectionTitle {
  margin-bottom: 10px !important;
}

#jobs.section .subsection,
#projects.section .subsection {
  padding: 9px 10px !important;
}

#projects.section .details .screenshot {
  width: 35% !important;
}

.skillsPlaceholder {
  display: none !important;
}

#skills.section.affixed {
  position: static !important;
  display: block !important;
  background-color: transparent !important;
  box-shadow: none !important;
  z-index: 0 !important;
}
