<!DOCTYPE html>
<html>
<head>
  <title>Resume (Mack Duan)</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/src/build/js/resume.css">
  <script src="/src/build/js/resume.js"></script>
</head>
<body>
  <div id="resume"></div>

  <script id="resumeTemplate" type="text/template">
    <div class="pageHeader">
      <a class="pdfLink internalLink" href="/static/files/resume.pdf"><i class="fa fa-file-pdf-o"></i>PDF version</a>
      <div class="pageTitle">Mack Duan</div>
      <div class="contactMethods">
        <span class="contactMethod">
          <i class="fa fa-globe"></i>
          <a class="iconLink" href="http://mduan.com">mduan.com</a>
        </span>
        <span class="contactMethod">
          <i class="fa fa-envelope-o"></i>
          <a href="mailto:mack@mduan.com">mack@mduan.com</a>
        </span>
        <span class="contactMethod">
          <i class="fa fa-github-alt"></i>
          <a class="iconLink" href="https://github.com/mduan">github.com/mduan</a>
        </span>
      </div>
    </div>
    <div class="content">
      <%= data.skillsTemplate({ skills: data.resumeData.skills }) %>
      <%= data.jobsTemplate({ jobs: data.resumeData.jobs }) %>
      <%= data.projectsTemplate({ projects: data.resumeData.projects }) %>
      <%= data.educationsTemplate({ educations: data.resumeData.educations }) %>
      <%= data.awardsTemplate({ awards: data.resumeData.awards }) %>
    </div>
    <div class="updatedDateContainer">Last updated <span class="updatedDate"></span></div>
  </script>

  <script id="skillsTemplate" type="text/template">
    <div class="skills section">
      <div class="skillsInner">
        <div class="sectionHeader">
          <div class="sectionTitle"><i class="fa fa-tasks"></i> Skills</div>
          <div class="resumeOptions">
            <label for="showFullResumeCheckbox" title="Show older jobs and projects">
              Show full resume <input id="showFullResumeCheckbox" type="checkbox">
            </label>
            <label for="affixSkillsCheckbox" title="Keep this section pinned to the top of page on scroll">
              Show on scroll <input id="affixSkillsCheckbox" type="checkbox" checked>
            </label>
          </div>
        </div>
        <% _.each(data.skills, function(category) { %>
          <div class="categorySkills subsection">
            <div class="subsectionTitle"><%= category.name %></div>
            <ul>
              <% _.each(category.items, function(skill) { %>
                <li data-skill="<%= skill.id %>" class="skill <% if (skill.hidden) { %> hidden <% } %>">
                  <a href="<%= skill.url %>"><%= skill.name %></a>
                </li>
              <% }); %>
            </ul>
          </div>
        <% }); %>
      </div>
    </div>
  </script>

  <script id="experienceDescriptionTemplate" type="text/template">
    <ul class="description">
      <% _.each(data.descriptions, function(description) { %>
        <li><%= description %></li>
      <% }); %>
      <li>Skills:
        <ul class="skills">
          <% _.each(data.skills, function(skill, idx) { %>
            <li data-skill="<%= skill.id %>" class="skill <% if (skill.hidden) { %> hidden <% } %>">
              <%= skill.name %><% if (idx !== data.skills.length - 1) { %>,<% } %>
            </li>
          <% }); %>
        </ul>
      </li>
    </ul>
  </script>

  <script id="jobsTemplate" type="text/template">
    <div class="jobs section">
      <div class="sectionTitle"><i class="fa fa-briefcase"></i> Work Experience</div>
      <% _.each(data.jobs, function(job) { %>
        <div class="job subsection <% if (job.hidden) { %> hidden <% } %>">
          <div class="subsectionHeader">
            <div class="subsectionTitle org <%= job.orgId %>">
              <img src="<%= job.orgImageUrl %>">
              <% if (job.orgUrl) { %>
                <a href="<%= job.orgUrl %>"><%= job.orgName %></a>
              <% } else { %>
                <%= job.orgName %>
              <% } %>
            </div>
            <span class="titleSeparator">&bull;</span>
            <span class="title"><%= job.title %></span>
            <span class="timeRange"><%= job.timeRange %></span>
          </div>
          <%= data.experienceDescriptionTemplate({ descriptions: job.descriptions, skills: job.skills }) %>
        </div>
      <% }); %>
    </div>
  </script>

  <script id="projectsTemplate" type="text/template">
    <div class="projects section">
      <div class="sectionTitle"><i class="fa fa-flask"></i> Side Projects</div>
      <% _.each(data.projects, function(project) { %>
        <div class="project subsection <% if (project.hidden) { %> hidden <% } %>">
          <div class="subsectionHeader">
            <div class="subsectionTitle">
              <% if (project.url) { %>
                <a class="iconLink printableLink" href="<%= project.url %>"><%= project.name %></a>
              <% } else { %>
                <%= project.name %>
              <% } %>
            </div>
            <span class="timeRange"><%= project.timeRange %></span>
          </div>
          <div class="details">
            <% if (project.url && project.imageUrl) { %>
              <a class="screenshot" href="<%= project.url %>">
                <img src="<%= project.imageUrl %>">
              </a>
            <% } %>
            <%= data.experienceDescriptionTemplate({ descriptions: project.descriptions, skills: project.skills }) %>
          </div>
        </div>
      <% }); %>
    </div>
  </script>

  <script id="educationsTemplate" type="text/template">
    <div class="educations section">
      <div class="sectionTitle"><i class="fa fa-book"></i> Education</div>
      <% _.each(data.educations, function(education) { %>
        <div class="education subsection">
          <div class="subsectionHeader">
            <span class="subsectionTitle"><%= education.name %></span>
            <span class="titleSeparator">&bull;</span>
            <span class="location"><%= education.location %></span>
            <span class="timeRange"><%= education.timeRange %></span>
          </div>
          <ul class="description">
            <% _.each(education.descriptions, function(description) { %>
              <li><%= description %></li>
            <% }); %>
          </ul>
        </div>
      <% }); %>
    </div>
  </script>

  <script id="awardsTemplate" type="text/template">
    <div class="awards section">
      <div class="sectionTitle"><i class="fa fa-trophy"></i> Awards and Accomplishments</div>
      <% _.each(data.awards, function(award) { %>
        <div class="award subsection">
          <div class="subsectionHeader">
            <span class="subsectionTitle"><%= award.name %></span>
            <span class="titleSeparator">&bull;</span>
            <span class="location"><%= award.location %></span>
            <span class="timeRange"><%= award.timeRange %></span>
          </div>
        </div>
      <% }); %>
    </div>
  </script>
</body>
</html>
